.landing-page-container {
  display: flex;
  height: calc(100vh - 90px);
  padding-top: 90px;
}
  
.landing-page-text {
  font-family: "TildaSans";
  flex: 1;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #6563FE;
  align-items: left;
}
  
.landing-page-text h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.landing-page-text ul {
  margin: 5% 0;
  list-style-type: none;
  padding: 0;
}

.landing-page-text li {
  margin: 1% 0;
  list-style: inside;
  font-size: 25px;
  padding-left: 1.2em;
  text-indent: -1.2em;
}

.landing-page-text h2 {
  font-size: 1.4rem;
  margin-top: 24px;
  font-weight: 900;
  color: #5452FE;
}
.landing-image-mobile{
  display: none;
}
.landing-page-text p {
  margin-bottom: 20px;
}

.landing-page-image {
  display: flex;
  flex: 1;
  overflow: hidden;
  position: relative;
  top: 10%;
}


@media only screen and (max-width: 768px) {
  .landing-page-container {
    flex-direction: column;
    height: auto; 
    padding-top: 110px;
  }
  .landing-image-mobile{
    display: flex;
    padding-left: 20%;
  }
  .landing-page-image {
    display: none;
  }
  
  .landing-page-text {
    margin-left: 0;
  }
  .landing-page-text h2 {
    align-items: center;
  }
  .landing-page-text h1 {
    font-size: 28px;
    text-align: center;
  }
  .landing-page-text ul {
    font-size: 25px;
    padding: 0 10px 0 70px;
    padding-left: 1.2em;
  }
  .landing-page-text {
    /* padding: 20px; */
  }

  .landing-page-image img {
    width: 100%;
    height: auto;
    
    left: 35%;
    right: 0;
    top: 15%;
    /* object-fit: cover; */
    position: static; 
    margin: 20px 0;
  }
}
@media (max-width: 1370px) {
  .landing-page-text h2 {
    font-size: 21px;
    display: flex;
    flex-direction: column;
  }
}