.landing-page-container {
  display: flex;
  height: calc(100vh - 90px);
  padding-top: 90px;
}
  
.landing-page-text {
  font-family: "TildaSans";
  flex: 1;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #6563FE;
  align-items: left;
}
  
.landing-page-text h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.landing-page-text ul {
  margin: 5% 0;
  list-style-type: none;
  padding: 0;
}

.landing-page-text li {
  margin: 1% 0;
  list-style: inside;
  font-size: 25px;
}

.landing-page-text h2 {
  font-size: 1.4rem;
  margin-top: 24px;
  font-weight: 900;
  color: #5452FE;
}

.landing-page-text p {
  margin-bottom: 20px;
}

.landing-page-image {
  flex: 1;
  overflow: hidden;
  position: relative;
  top: 10%;
}


@media only screen and (max-width: 768px) {
  .landing-page-container {
    flex-direction: column;
    height: auto; 
    padding-top: 90px;
  }

  .landing-page-text {
    padding: 20px;
  }

  .landing-page-image img {
    width: 100%;
    height: auto;
    
    left: 35%;
    right: 0;
    top: 15%;
    /* object-fit: cover; */
    position: static; 
    margin: 20px 0;
  }
}
