.products-container {
  text-align: center;
  padding: 20px;
  font-family: "TildaSans";
  margin: 5% 15%;
}

.product-line {
  background-color: #6563FE;
  height: 2px;
  width: 60%;
  margin: 20px auto;
}

.product-line-vertical {
  background-color: #C0A5D2;
  height: full;
  width: 2px;
  margin: 20px 1px;
}

.products-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0%;
}

.single-product {
  color: #6563FE;
  width: 25%; 
  padding: 20px;
  margin: 10px;
  text-align: center;
  height: 100%;
}

.product-image {
  display: block;
  margin: 0 auto;
}
h2{
  display: flex;
  font-size: 52px;
  font-weight: 500;
  color: #6563FE;
}
.headlink {
  text-decoration: underline;
  font-size: 40px;
  font-weight: 600;
}

.subheadline {
  font-weight: bold;
  height: 150px;
  letter-spacing: 3px
}
.description{
  font-size: 18px;
}
@media only screen and (max-width: 768px) {
  .products-container {
    padding: 0px;
    margin: 5% 5% 20% 5% ;
  }
  
  h2{
    font-size: 30px;
  }
  .product-line-vertical {
    height: 2px;
    width: 100%;
    margin: 20px 0;
  }
  .products-list {
      margin: 0 0;
    }
  
  .single-product {
    width: 100%; 
  }
  .subheadline {
    height: 100%;
  }
}
