.about-container {
    font-family: "TildaSans";
    background-image: linear-gradient(to bottom, rgba(84, 82, 254, 0.7), rgba(84, 82, 254, 0.4)), url('../../../public/images/aboutbg.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}
  
.about-content {
    margin: 12% 0%;
    background-color: rgba(255, 255, 255, 1);
    padding: 40px;
    width: 40%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.about-content h2 {
    margin-bottom: 20px;
}

.about-content p {
    font-size: 22px;
    font-weight: 300;
    color: #949494;
}

@media only screen and (max-width: 768px) {
    .about-content {
        width: 90%;
        padding: 50px 30px;
        margin: 20% 5%;
    }
    .about-content p {
        font-size: 18px;
    }
}