
.single-market {
    margin: 0% 15%;
    display: flex;
    flex-direction: column;
    font-family: "TildaSans";
}
.markets-tag{
    font-family: "TildaSans";
    display: flex;
    font-size: 52px;
    font-weight: 500;
    color: #6563FE;
    margin-top: 5%;
    margin-left: 15%;
}
.market-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.market-details img {
    max-width: 100%;
    height: auto;
    margin: 0% 5%;
}

.text-details {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.image-left {
    flex-direction: column;
}

.image-right {
    flex-direction: column-reverse;
}
p .description{
    font-size: 18px;
}
.single-market .headline {
    font-size: 30px;
    color: #5452fe;
    font-weight: 600;
}
.market-desc{
    font-size: 18px;
    font-family: "TildaSans";
    font-weight: 300;
    color: #9B9B9B;
}
@media only screen and (max-width: 768px) {
    .single-market {
    display: flex;
    flex-direction: column;
    }
    .single-market {
        margin: 0% 5%;
    }
    .single-market .headline {
        font-size: 1.5rem;
        margin-bottom: 10px;
        padding-top: 5%;
    }

    .market-details {
        flex-direction: column;
    }

    .image-left,
    .image-right {
        flex-direction: column;
    }
    .markets-tag{
        font-size: 30px;
        margin-top: 5%;
        margin-left: 5%;
    }
}
