.footer {
  background-color: #7000CE;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  font-size: 14px;
  font-family: "TildaSans";
}
  
.footer-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
  
.footer-logo {
  margin-right: 10px;
  position: absolute;
  left: 20px;
}
.footer-text {
  max-width: 600px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-weight: 700;
}
  
@media only screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-logo {
    position: relative;
    left: 0;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
  